@import url('https://fonts.googleapis.com/css?family=Barlow');

body {
  font-family: 'Barlow', sans-serif;
  font-size:18px;
}

* {
  margin:0;
  padding:0;
}

h1, h2, h3, h4, h5 {
  padding:0.1em 0;
}

h1, h2 {
  border-bottom:0.05em solid black;
}

h1 {
  font-size:200%;
}

h2 {
  font-size:130%;
}

a.action {
  background:#eee;
  border:1px solid #ccc;
  border-radius:3px;
  display: inline-block;
  margin:0.5em 0;
  padding:0.2em 0.3em;
}